.swiper-jumbotron {
    .swiper-slide {
        @include transition(ease, 0.3s);
    }

    .swiper-pagination {
        bottom: 60px !important;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    .swiper-pagination-bullet-active {
        background-color: $black;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: $white;
    }
}

.swiper-productos {
    padding-top: 50px !important;

    .swiper-slide {
        @include transition(ease, 0.3s);
    }

    .swiper-pagination {
        top: -6px !important;
        bottom: auto !important;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    .swiper-pagination-bullet-active {
        background-color: $black;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: $red;
    }
}

.swiper-consejos {
    padding-top: 50px !important;

    .swiper-slide {
        @include transition(ease, 0.3s);
    }

    .swiper-pagination {
        top: -6px !important;
        bottom: auto !important;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    .swiper-pagination-bullet-active {
        background-color: $black;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: $red;
    }
}

.swiper-historia {
    .swiper-slide {
        @include transition(ease, 0.3s);
    }

    .timeline {
        margin: 40px auto 0;
        list-style-type: none;
        padding: 0;
        text-align: center;
    }

    .timestamp {
        margin-bottom: 8px;
        padding: 0px 40px;
        @include transition(ease, 0.3s);
    }

    .date {
        text-align: center;
        color: $white;
        @include font-size(1.32rem);
        @include transition(ease, 0.3s);
    }

    .status {
        padding: 15px 0;
        display: block;
        width: 100%;
        position: relative;

        &::before {
            background-color: #ebe4da;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 4px;
            content: "";
        }
    }

    .last-status {
        &::before {
            width: 100%;
        }
    }

    .timeline_icn {
        content: "";
        width: 20px;
        height: 20px;
        display: block;
        background-color: $white;
        border-radius: 20px;
        position: absolute;
        margin-left: -10px;
        top: 31px;
        left: 50%;
        transition: all 200ms ease-in;
        z-index: 100;
    }

    .swiper-start .status .icn-start {
        left: 0;
    }

    .swiper-end .status .icn-end {
        right: 0;
    }

    .swiper-start .status,
    .swiper-end .status {
        margin-top: 46.3px;
    }

    .swiper-slide .icn-end,
    .swiper-slide .icn-start {
        display: block;
        position: absolute !important;
        width: 40px;
        height: 40px;
        background: #fff;
        content: "";
        z-index: 9999;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        top: -18px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: $white;
    }
}

.swiper-anos {
    display: flex !important;
    margin-bottom: 0;
    padding: 20px 0;

    .swiper-wrapper {
        justify-content: center;
    }

    .swiper-slide {
        @include transition(ease, 0.3s);
        display: block;
        color: $white;
        text-align: center;

        &:hover {
            cursor: pointer;
        }

        &:not(:first-child):not(:last-child) {
            margin: 0 15px;
        }
    }
}

.swiper-producto {
    height: 100%;

    .swiper-slide {
        @include transition(ease, 0.3s);
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    .swiper-pagination-bullet-active {
        background-color: $black;
    }

    .swiper-navigation-container {
        position: absolute;
        @include absolute-center-y;
        width: 130px;
        -webkit-transform: rotate(90deg); /* Safari and Chrome */
        -moz-transform: rotate(90deg); /* Firefox */
        -ms-transform: rotate(90deg); /* Internet Explorer */
        -o-transform: rotate(90deg); /* Opera */
        transform: rotate(90deg);
        z-index: 1;
    }

    .swiper-button-prev,
    .swiper-button-next {
        border: 2px solid $red;
        border-radius: 50px;
        color: $red;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
            @include font-size(1.4rem);
        }
    }
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
    .swiper-historia {
        .timestamp {
            margin-bottom: 15px;
        }

        .status {
            &::before {
                width: 100%;
            }
        }

        .timeline_icn {
            width: 20px;
            height: 20px;
            top: 38px;
        }
    }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    .swiper-historia {
        .timestamp {
            margin-bottom: 13.4px;
        }

        .status {
            &::before {
                width: 114%;
            }
        }

        .status.last-status::before {
            width: 100%;
        }

        .swiper-start .status,
        .swiper-end .status {
            margin-top: 45px;
        }

        .swiper-slide-active {
            .timestamp {
                margin-bottom: 2.7px;
            }

            .date {
                @include font-size(2rem);
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    .swiper-historia {
        .timestamp {
            margin-bottom: 16.4px;
        }

        .swiper-start .status,
        .swiper-end .status {
            margin-top: 47.5px;
        }

        .swiper-slide-active {
            .timestamp {
                margin-bottom: 2.7px;
            }
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
    .swiper-historia {
        .status {
            &::before {
                width: 118%;
            }
        }

        .swiper-slide-active {
            .timestamp {
                margin-bottom: 4.7px;
            }

            .date {
                @include font-size(1.8rem);
            }
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {
}
